* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #141e30, #243b55);
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background: rgba(0,0,0,0.6);
  padding: 20px;
  border-radius: 16px;
  text-align: center;
  color: #fff;
  width: 90%;
  max-width: 360px;
}

.card img {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 15px;
}

#title {
  font-size: 24px;
  margin-bottom: 10px;
}

#timer {
  font-size: 18px;
  font-weight: bold;
}
